@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
}

header {
  background: #edeff1;
  height: 90vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background: #edeff1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  position: fixed;
}

nav h1 {
  font-size: 36px;
  margin-left: 20px;
}

.nav-list {
  font-size: 25px;
  list-style: none;
  display: flex;
  margin-right: 30px;
}

.nav-list li {
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  padding: 0;
}

.nav-list li:hover {
  border-bottom: 2px solid orangered;
}

.head {
  /* height: 900px; */
  /* height: 100% !important; */
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.head-content h1 {
  font-size: 50px;
  line-height: 55px;
}

.underline {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background: rgba(255, 68, 0, 0.726);
  margin-bottom: 10px;
}

.head-content p {
  font-size: 30px;
}

.head-img {
  /* width: 20%; */
  width: 40%;
}

/*  */
@keyframes slidy {
  0% {
    left: 25%;
  }

  20% {
    left: 50%;
  }

  /* 25% { left: -100%; } */

}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
}

/*  */
.product-section {
  text-align: center;
  margin-top: 30px;
}

.product-section h1 {
  font-size: 36px;
}

.product-catagory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column calc(3);
  grid-gap: 20px;
  justify-content: space-evenly;
  margin: 40px;
  font-family: 'Work Sans', sans-serif;
}

.product {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  text-align: left;
}

.footer-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 45px;
  font-size: 25px;
  background: #edeff1;
}

.footer-products a {
  display: block;
  color: black;
  text-decoration: none;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact i {
  font-size: 15px;
}

.footer-copyright {
  height: 100px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #5a60667a;
}

.product a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  line-height: 27px;
}

.product li {
  color: black;
  font-size: 25px;
}

.product p {
  color: red;
  font-size: 30px;
}

.product img {
  height: 170px;
}

.rs {
  font-size: 40px;
}

@media only screen and (min-device-width: 768px) {
  nav {
    width: 100%;
  }

  .head-content h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .head {
    flex-direction: column;
    flex-direction: column-reverse;
    height: 60vh;
  }

  header {
    height: auto;
  }

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .nav {
    position: fixed;
    width: auto;
    height: auto;
    background: #edeff1;
  }

  .head {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .head img {
    margin-top: 30px;
  }

  .underline {
    display: none;
  }

  .product-catagory {
    grid-template-columns: 1fr;
  }

  .footer-container {
    justify-content: left;
  }
}